* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: 'Arial';
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.header {
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center; */
  align-items: center;
  background-color: #f5f5f5;
  width: 400px;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}

.title {
  /* font-family: "Major Mono Display", monospace; */
  font-weight: 400;
  color: #3c3c3c;
  margin-bottom: 20px;
}

.inputBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.addBar {
  width: 250px;
  height: 25px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  text-indent: 10px;
  padding: 5px;
  margin-right: 5px;
}

.addButton {
  width: 50px;
  font-size: 15px;
  font-family: 'Major Mono Display', monospace;
  background-color: #f5f5f5;
  color: #3c3c3c;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  margin-left: 5px;
}

.todo {
  width: 440px;
  list-style: none;
}

.taskCard {
  margin-top: 15px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  padding: 10px;
}